
h1,h3,h2{
     text-align:center;
     color:black;
     padding:10;
}
div.job{
	height: 3985px;
 	width: 960px;
    margin: 0 auto;
    background-color: #5c7997;
    background: url(koko/centur.jpg) center center fixed;
    background-size: contain;
    background-repeat: repeat-y
}
img#job{ 
    height:400px;
    width: 400px;
    border-radius:60px;
}
