
body {
	width:960px;
	margin:0 auto;
	background-size: contain;
}

#tabs,h1,h3,h2,p{
     text-align:center;
     color:black;
     padding:136;
}
div.job{
	height: 2845px;
 	width: 960px;
    margin: 0 auto;
    background: url(koko/centur.jpg) center center fixed;
}

