body{
    font-family:Calibri;
    color:white;
    background-color: rgb(blue);
}
ul li #menu {
    list-style-type: none;
    padding: 0;
    height: 10px;
    margin-top: 20px;
    margin-left: 77px;
    display: flex;
}
img#logo{
    background: url(koko/лого.jpg);
    width:400px;
    height: 250px;
    margin-left: 28%;
}
embed#menu-embed{
    width: 100%;
    height: 600px;
}

div.see img{ 
    height:260px;
    width: 285px;
    border-radius:60px;
    margin:1px;
    border:1px solid black;
}
div.see{
    padding: 2px;
    margin: 5px;
    float:right;
    color:blue;
    width: 100%;
    height:400px;
    text-align: center;
}
div.team img{ 
    height:260px;
    width: 285px;
    border:1px solid black;
}
div.team{
    padding: 0px;
    margin: 0px;
    float: left;
    color: blue;
    width: 50%;
    height: 360px;
    text-align: center
}
li {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    float: left;
    padding: 9px;
    display: block;
    text-transform: uppercase;
    }
 ul{
    display: flex;
    justify-content: center;
}
div.good img{ 
    height:260px;
    width: 285px;
    border:1px solid black;
}
div.good{
    padding: 0px;
    margin: 0px;
    float:right;
    color:blue;
    width: 33%;
    height:300px;
    text-align: center;
}
