
div.job{
	height: 3985px;
 	width: 960px;
    margin: 0 auto;
    background-color: #5c7997;
    background: url(koko/17948728_1591658997540959_380953881_o.jpg) center center fixed;
    background-size: contain;
    background-repeat: repeat-y
}
img.job{ 
    height:auto;
    width: auto;
    border-radius:60px;
}
div#tabs,h1,h3,h2{
    background-color: rgba(220, 245, 220, 0.61);
    text-align:center;
     color:black;
     padding:10;
}
